﻿@{
    ViewBag.Title = "Sobre nosotros:";
}
<h2>@ViewBag.Title.</h2>
<br />

<p>@ViewBag.Message</p>
<div class=" row">
    <div class="col-md-4">
        <h2>Misión</h2>
        <p>@ViewBag.Mision</p>
    </div>
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>@ViewBag.Vision</p>
    </div>
    <div class="col-md-4">
        <h2>Valores</h2>
        <p>@ViewBag.Valores</p>
    </div>
</div>
<br/>
<hr/>
<div class=" row">

</div>
