﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h3>Para contactar con nosotros</h3>
        <label>
            
            <input type="radio" id="RadNuevo" value="Nuevo" name="TipoPasiente"> ¿Es primera vez que te registras?
        </label>
        <br>
        <label>
            <input type="radio" id="RadRecurente" value="Recurrente" name="TipoPasiente"> ¿Eres un paciente recurrente?
        </label>
    </div>
</div>
<br>
<div class="row recurrente" style="visibility:hidden">
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-12">
                <label id="lblExpediente">Proporciona tu número de expediente:</label>
                <input type="text" style="width:90%" id="PideNoExpediente" />
            </div>
        </div>
    </div>
    <div class="col-md-3" style="text-align: right; margin-top: 25px;">
        <input type="button" class="bottom-right, btn-success" id="btnBuscaExpediente" value="Busca Expediente" style="width:80%" />
    </div>
</div>

<div class="row expediente" style="visibility:hidden">
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-12">
                <label id="lblMuestraExpediente">Número de expediente:</label>
                <input type="text" style="max-width:auto" id="NoExpediente" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-3" style="text-align:right">
                <input type="button" class="bottom-right, btn-success" id="btnFindExpediente" value="Busca Expediente" style="width:80%" />
            </div>
        </div>
    </div>
</div>
<form if="frmNuevo">
    <div class="row Nuevo" style="visibility:hidden">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-12">
                        <label id="lblNombre">Nombre completo:</label>
                        <br>
                        <input type="text" style="width:90%;" id="NombrePasiente" class="datoCliente" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-12">

                        <label id="lblFecha">Fecha de Nacimiento:</label>
                        <input type="text" style="width: 90%; text-align: right" id="FechaNacimiento" class="datoCliente form-control " />
                        

                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <div class="col-md-12">
                        <label id="lblEdad">Edad:</label>
                        <input type="text" style="width: 90%; text-align: right" id="EdadPasiente" class="datoCliente" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-10">
                        <label id="lblSexo">Sexo:</label>
                        <label>
                            <input type="radio" id="SexoF" value="F" name="SexoPasiente" class="datoCliente"> Femenino
                        </label>
                        <br>
                        <label>
                            <input type="radio" id="SexoM" value="M" name="SexoPasiente" class="datoCliente"> Masculino
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row Nuevo" style="visibility:hidden">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-12">
                        <label id="lblCuentaCorreo">Cuenta de correo:</label>
                        <input type="text" style="width: 90%;" id="CorreoPasiente" inputmode="email" class="datoCliente" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-12">
                        <label id="lblTelefono">Telefono de contacto:</label>
                        <input type="text" style="width: 90%; text-align: right; " maxlength="10" id="TelefonoPasiente" inputmode="tel" class="datoCliente" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-12">
                        <label id="lblCiudad">Ciudad:</label>
                        <input type="text" style="width: 90%;  " id="CiudadPasienrte" inputmode="latin" class="datoCliente" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 TieneExpediente" style="visibility:hidden">
                <div class="form-group">
                    <div class="col-md-12">
                        <label id="lblMuestraExpediente">Número de expediente:</label>
                        <input type="text" style="max-width:auto" id="NoExpedienteEncontrado" disabled="disabled"  />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row Siempre" style="visibility:hidden">
        <div class="col-md-12">
            <p>Por favor escribe cual es tu situación y la razón por la que estas en busqueda de ayuda, esto facilitará la labor de el profecional que te contacte</p>
        </div>
    </div>
    <div class="row Siempre" style="visibility:hidden">
        <div class="col-md-12">
            <textarea name="textoDescripción" cols="400" rows="5" id="txtDescripcion" style="width:100%" class="datoCliente"></textarea>
        </div>
    </div>
    <div class="row Siempre" style="visibility:hidden">
        <div class="col-md-9">

        </div>
        <div class="col-md-3" style="text-align:right">
            <input type="button" class="bottom-right, btn-success" id="btnSend" value="Enviar" style="width:80%" />
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#EdadPasiente').numeric();

            $('#TelefonoPasiente').numeric();

            $('#frmNuevo input').attr("required", true);

            //var optionsDateTimePick = {
            //    language: 'es',
            //    icons: {
            //        time: "glyphicon glyphicon-time",
            //        date: "fa fa-calendar",
            //        //up: "fa fa-arrow-up",
            //        //down: "fa fa-arrow-down"
            //    },
            //    format: 'DD/MM/YYYY',
            //    viewMode: 'days'
            //};



            $("#FechaNacimiento").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yyyy'
            });


            $('input[type=radio][name=TipoPasiente]').click(function () {
                console.log(this.value);
                if (this.value == 'Recurrente') {
                    $('.recurrente').css("visibility", 'visible');
                    $('.Nuevo').css("visibility", 'hidden');
                    $('.recurrente').height(51);
                    $('.Siempre').css("visibility", 'hidden');
                    $('.TieneExpediente').css("visibility", 'hidden');
                }
                else if (this.value == 'Nuevo') {
                    $('.Nuevo').css("visibility", 'visible');
                    $('.recurrente').css("visibility", 'hidden');
                    $('.recurrente').height(10);
                    $('.Siempre').css("visibility", 'visible');
                    $('.TieneExpediente').css("visibility", 'hidden');
                }

            });

            $('#btnBuscaExpediente').click(function () {
                if ($('#PideNoExpediente').val().length != 0) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/BuscaExpediente",
                        async: "false", //importante
                        data: {
                            Expediente: $('#PideNoExpediente').val()

                        },
                        //contentType: "application/json; charset=utf-8", //No debe llevar esto, es para cuando es API controller.
                        dataType: "json",
                        success: function (resultado) {
                            if (resultado.success) {

                                $('.Nuevo').css("visibility", 'visible');
                                $('.recurrente').css("visibility", 'hidden');
                                $('.recurrente').height(10);
                                $('.Siempre').css("visibility", 'visible');
                                $('#NoExpedienteEncontrado').css("visibility", 'visible');

                                $('#NombrePasiente').val(resultado.result.Nombre);
                                var $SelectFecha = $('#FechaNacimiento');
                                var FecRecibe = resultado.result.FechaNacimiento;
                                var ArrayPartes = FecRecibe.split('/');
                                var FecNac = new Date(ArrayPartes[2], ArrayPartes[1], ArrayPartes[0]);
                                console.log(FecNac);
                                $SelectFecha.datepicker('setDate', FecNac);
                                $('#FechaNacimiento').val($('#FechaNacimiento').val().substr(0, 10));
                                $('#EdadPasiente').val(resultado.result.Edad);
                                if (resultado.result.Sexo === 'F') {
                                    $('#SexoF').prop("checked", true);
                                } else {
                                    $('#SexoM').prop("checked", true);
                                }

                                $('#CorreoPasiente').val(resultado.result.Email);
                                $('#TelefonoPasiente').val(resultado.result.Telefono);
                                $('#CiudadPasienrte').val(resultado.result.Ciudad);
                                $('#txtDescripcion').val();
                                $('.TieneExpediente').css("visibility", 'visible');
                                $('#NoExpedienteEncontrado').val(resultado.result.Expediente);
                                $('.datoCliente').attr('disabled', 'disabled');
                                $('#txtDescripcion').removeAttr('disabled');


                                $('#Message').text(resultado.Message);
                                $("#exampleModal").modal("show");
                            }
                            else {
                                $('#Message').text(resultado.Message);
                                $("#exampleModal").modal("show");
                            }
                           
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                }

            });


            $('#FechaNacimiento').change(function () {
                if ($('#FechaNacimiento').val().length != 0) {
                    if ($('#FechaNacimiento').val().length > 10) {
                        $('#FechaNacimiento').val($('#FechaNacimiento').val().substr(0, 10));
                    }
                    $.ajax({
                        type: "POST",
                        url: "/Home/RestaFechas",
                        async: "false", //importante
                        data: {
                            fechaNacimiento: $('#FechaNacimiento').val()
                        },
                        //contentType: "application/json; charset=utf-8", //No debe llevar esto, es para cuando es API controller.
                        dataType: "json",
                        success: function (resultado) {
                            if (resultado.success) {
                                $('#EdadPasiente').val(resultado.result);
                            }
                            else {
                                $('#Message').text(resultado.Message);
                                $("#exampleModal").modal("show");
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });

                }
            });

            

            $('#btnSend').click(function () {
                if ($('#NombrePasiente').val().length != 0 &&
                    $('#FechaNacimiento').val().length != 0 &&
                    $('#EdadPasiente').val().length != 0 &&
                    ($('input:radio[name=SexoPasiente]:checked').val().length > 0 ||
                    $('#SexoF').prop("checked") || $('#SexoM').prop("checked") ) &&
                    $('#CorreoPasiente').val().length != 0 &&
                    $('#TelefonoPasiente').val().length == 10 &&
                    $('#CiudadPasienrte').val().length != 0 &&
                    $('#txtDescripcion').val().length != 0) {



                    $.ajax({
                        type: "POST",
                        url: "/Home/GuardaNuevo",
                        async: "false", //importante
                        data: {
                            Nombre: $('#NombrePasiente').val()
                            , Edad: $('#EdadPasiente').val()
                            , FechaNacimiento: $('#FechaNacimiento').val()
                            , Sexo: $('input:radio[name=SexoPasiente]:checked').val()
                            , Email: $('#CorreoPasiente').val()
                            , Telefono: $('#TelefonoPasiente').val()
                            , Ciudad: $('#CiudadPasienrte').val()
                            , Descripcion: $('#txtDescripcion').val()
                            , Expediente: $('#NoExpedienteEncontrado').val().length != 0 ? $('#NoExpedienteEncontrado').val() : null
                        },
                        //contentType: "application/json; charset=utf-8", //No debe llevar esto, es para cuando es API controller.
                        dataType: "json",
                        success: function (resultado) {
                            if (resultado.success) {
                                $('.datoCliente').val('');
                            }
                            $('#Message').text(resultado.Message);
                            $("#exampleModal").modal("show");
                        },
                        error: function () {
                            alert("error");
                        }
                    });

                }


            });

           
        });


    </script>
}
