﻿@model PsicoWebServicios.Models.vmInformacionInicial

<div class="jumbotron">
    <h2>PsicoWebServicios</h2>
    <p>Un lugar en donde realmente encontrarás la salida:</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Testimonios</h2>
        <div style="width: 90%; height: 600px; overflow-y: scroll; ">
            <table class="table table-striped table-condensed">
                @foreach (var item in Model.lstCasosExito)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescripcionCasoExito)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Tratamientos</h2>
        <div style="width: 90%; height: 600px; overflow-y: scroll; ">
            <table class="table table-striped table-condensed">
                @foreach (var item in Model.lstTratamientos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreTratamientoPadecimiento)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Padecimientos comunes</h2>
        <div style="width: 90%; height: 600px; overflow-y: scroll; ">
            <table class="table table-striped table-condensed">
                @foreach (var item in Model.lstPadecimientos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreTratamientoPadecimiento)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>
